@namespace RTUB.Shared
@*
    SongCardSkeleton Component
    Loading skeleton for SongCard during data fetch
*@

<div class="card song-card-skeleton h-100">
    <div class="song-skeleton-header"></div>
    <div class="song-skeleton-body d-flex flex-column">
        <div class="song-skeleton-title"></div>
        <div class="song-skeleton-author"></div>
        <div class="song-skeleton-actions mt-auto">
            <div class="song-skeleton-button"></div>
            <div class="song-skeleton-button"></div>
            <div class="song-skeleton-button"></div>
        </div>
    </div>
</div>
