/* Sidebar */

/* Sidebar */
.sidebar {
  position: fixed;
  top: 3.25rem; /* height of navbar */
  bottom: 0;
  left: 0;
  width: 220px;
  background-color: #0d0d0e;
  border-right: 1px solid var(--bs-border-color);
  overflow-y: auto;
  padding: 1rem 0;
  color: #ccc;
}
.sidebar .nav {
  flex-direction: column;
}
.sidebar .nav-link {
  padding: 0.5rem 1rem;
  color: #ccc;
}
.sidebar .nav-link:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  color: #fff;
}
.sidebar .nav-link.active {
  background-color: var(--bs-primary);
  color: #fff;
}

