/* Form checks and Nav tabs */

/* Form checks */
.form-check-input {
  margin-right: 0.5rem;
}
.form-check-label {
  margin-left: 0.25rem;
}

/* Nav tabs */
.nav-tabs {
  border-bottom: 1px solid var(--bs-border-color);
  display: flex;
  margin-bottom: 1rem;
  list-style: none;
  padding-left: 0;
}
.nav-tabs .nav-item {
  margin-right: 0.25rem;
}
.nav-tabs .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #1c1c1d;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.375rem 0.375rem 0 0;
  color: var(--bs-link-color);
}
.nav-tabs .nav-link:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  color: #fff;
}
.nav-tabs .nav-link.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
}
