/* Pagination */

/* Pagination */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.375rem;
}
.page-item {
  margin-right: 0.25rem;
}
.page-item .page-link {
  display: block;
  padding: 0.375rem 0.75rem;
  color: var(--bs-link-color);
  background-color: #1c1c1d;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.25rem;
}
.page-item .page-link:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.2);
  color: #fff;
  text-decoration: none;
}
.page-item.active .page-link {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
}
