/* Identity pages styles */

/* Identity pages styles */
.identity-link {
    color: var(--bs-primary);
    text-decoration: none;
}

.identity-link:hover {
    color: #a88ee5;
    text-decoration: underline;
}

